
<% if @tweet.length !=0 %>
   <%= link_to 'トップページへ戻る', root_path %>
  <% @tweet.each do |tweet| %>
 <li class='list'>

<%# <div class="card text-white bg-secondary a.text-white mb-3" style="max-width: 200rem;"> %>
<div class="card text-dark bg-light mb-3" style="max-width: 180rem;">
  <div class="card-header">
    <a> <%= link_to  tweet_path(tweet.id) do %> <%= tweet.title %></a><%end%>
   </div>
  <div class="card-body">
    <h5 class="card-title"> <tr>
          <th class="detail-item">危険度</th>
          <td class="detail-value"><%= tweet.risk.name %></td> 
         </tr></h5>
    <p class="card-text">  <tr> 
          <th class="detail-item">国 ： </th>
          <td class="detail-value"><%= tweet.country.name %></td>
         </tr></p>
    <p class="card-text"> </tr>
           <th class="detail-item">内容</th>
           <td class="detail-value"><%= tweet.detail %></td>
         <tr></p>
        
    <p class="card-text">  <tr>
          <th class="detail-item">投稿者 ： 
             <a> <%= link_to  user_path(tweet.user.id) do %> <%=tweet.user.nickname %></a><%end%></th>
   
         </tr></p>
    <p class="card-text">    
            <%tweet.tags.each do |tag| %>
              <a> <%= link_to  stag_tweets_path(tag.id) do %>＃ <%= tag.name %></a><%end%>
            <%end%>
          </p>
  </div>
</div>


       　　
  </li>
  <% end %>  
  <% else %>
  該当する投稿はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>
