<%# <div class="top_body">
</div> %>
<div class="container">

<h3>
  国検索
</h3>
<%= search_form_for @p, url:runsearch_tweets_path do |f| %>  

  <%= f.collection_select :country_id_eq, @country, :id, :name ,include_blank: '指定なし' %>

 
  <%= f.submit '検索' %>
<% end %>
<%= link_to 'タグ一覧', tag_tweets_path %>
 <% if @tweet.length > 0 %>
   <h1>全世界</h1>
 <%= render "tweets/all" %>
  <div>
   <%= paginate @tweet %>
  </div>
  <%end%>
</div>
