<div class="container">
  <div class="items-sell-contents">
    <header class="items-sell-header">
    </header>
 <div class="items-sell-main">
    <h2 class="items-sell-title">あなたが体験した情報を入力</h2>

<%= form_with model:@tweet,  url: tweets_path, html: { method: :post },local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>
<div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">タイトル　必須</label>
            <%= f.text_area :title,class:"form-control", id:"exampleFormControlTextarea1", rows:"3", placeholder:"例）笑顔で騙されかけました", maxlength:"40" %>
          </div>

          <div class="weight-bold-text">
             危険度
            <span class="indispensable">必須</span>
          </div>
            <%= f.collection_select(:risk_id, Risk.all, :id, :name, {}, {class:"select-box", id:"item-risk"}) %>
   </div>
     
     
      
        <div class="form">
          <div class="weight-bold-text">
            国
           <span class="indispensable">必須</span>
         </div>
            <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

         <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">地域　必須</label>
            <%= f.text_area :city,class:"form-control", id:"exampleFormControlTextarea1", rows:"3", placeholder:"例）アユタヤ付近" %>
         </div>

         <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">具体的な場所　必須</label>
            <%= f.text_area :block,class:"form-control", id:"exampleFormControlTextarea1", rows:"6", placeholder:"例）〇〇方面から△△方面に向かう途中の道（近くには□□があるところ！）", maxlength:"3000" %>
         </div>

         <div class="weight-bold-text">
            その体験した年
            <span class="indispensable">必須</span>
         </div>
             <%= f.text_area :year, class:"form-control" ,type:"text", placeholder:"例)2021(半角)", aria_label:"default input example"%>

         <div class="weight-bold-text">
            その体験した月
             <span class="indispensable">必須</span>
         </div>
            <%= f.text_area :month, class:"form-control" ,type:"text", placeholder:"例)9(半角)", aria_label:"default input example"%>

         <div class="weight-bold-text">
            その体験した時間帯
            <span class="indispensable">必須</span>
         </div>
            <%= f.collection_select(:day_id, Day.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

         <div class="weight-bold-text">
            その体験した時間
         </div>
            <%= f.text_area :time, class:"form-control" ,type:"text", placeholder:"例)現地時間の14時くらい。21:00.25字以内", aria_label:"default input example"%>

         <div class="mb-3">
           <label for="exampleFormControlTextarea1" class="form-label">内容　必須</label>
           <%= f.text_area :detail,class:"form-control", id:"exampleFormControlTextarea1", rows:"9", placeholder:"例)＋＋が有名なレストランAに行こうとしていたところ、トゥクトゥクのお兄さんが話しかけてきた。「どこにくの？」と日本語で聞かれたので「レストランAに行きます」と答えたところ、「今日、レストランAはお休みだから水上マーケットに行こう」と言ってきた。私は怪しいと思いついて行かなかった。そしてレストランAに行ってみると普通に営業していた。", maxlength:"3000" %>
        </div>
        
        <div class="weight-bold-text">
          タグ
         </div>
         <div class="tag-field", id='tag-field'>
            <%= f.text_field :name, class:"input-tag" %>
       </div>
        <div class="map_text">
        <h4>地図で確認してできるだけ鮮明に記述してください</h4>
        </div>
       <%= render "tweets/map" %>

      <div class="sell-btn-contents">
         <%= f.submit "投稿する" ,class:"btn  btn-outline-secondary" %>
         <%=link_to 'もどる', root_path, class:"btn btn-outline-primary" %>
      </div>
       <% end %>
   
    </div>


      
  </div>
</div>