<div class="container">
 <h1>オセアニア</h1>
  <% @oceania.each do |tweet| %>
   <li class='list'>
        <div class='item-img-content'>
        <a> <%= link_to  tweet_path(tweet.id) do %> <%= tweet.title %></a><%end%>
        </div>
       <table class="detail-table">
         <tbody>
          <div class='item-info'>
         <tr>
          <th class="detail-item">危険度</th>
          <td class="detail-value"><%= tweet.risk.name %></td> 
         </tr>
         <tr> 
          <th class="detail-item">国</th>
          <td class="detail-value"><%= tweet.country.name %></td>
         </tr>
           <th class="detail-item">内容</div>
           <td class="detail-value"><%= tweet.detail %></td>
         <tr>
          <th class="detail-item">投稿者</div>
          <td class="detail-value"><%= tweet.user.nickname %></td>
         </tr>
         </div>
        </tbody>
       </table>
    </li> 
   <%end%>
</div>