<div class="container">
<h3>
   検索結果
</h3>

<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <br>
    <li>
     <div class="weight-bold-text">
       <%= result.country.name %>
     </div>
   <div class="link-secondary">
          <a> <%= link_to  tweet_path (result.id)do %> 詳しくはこちら</a><%end%>
        </div>
       
        <div class="weight-bold-text">
          <td class="detail-value"><%= result.title %></td> 
         </tr>
    <div class="weight-bold-text">
          <th class="detail-item">危険度</th>
          <td class="detail-value"><%= result.risk.name %></td> 
         </tr>
          </div>
        <div class="weight-bold-text">
          <th class="detail-item">年</th>
          <td class="detail-value"><%= result.year %></td> 
         </tr>
          </div>
     <div class="weight-bold-text">
          <th class="detail-item">内容</th>
          <td class="detail-value"><%= result.detail %></td> 
         </tr>
          </div>
         <div class="weight-bold-text">
          <th class="detail-item">時間帯</th>
          <td class="detail-value"><%= result.day.name %></td> 
         </tr>
          </div>
         <div class="weight-bold-text">
          <th class="detail-item">時間</th>
          <td class="detail-value"><%= result.time%></td> 
         </tr>
          </div>

     
     
       
    </li>
  <% end %>
<% else %>
  該当する投稿はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>
</div>